BODY {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

/* Undo Materialize's table CSS */
table#tableGameBoard {
    width: auto;
    cursor: pointer;
    table-layout: fixed;
    padding-top: 5px;
    margin-top: 5px;
}

table#tableGameBoard td {
    border: solid black 1px;
    text-align: center;
    height: 30px;
    padding: 6px;
}

TD[id^=tdPlayer] {
    text-align: center;
}

SPAN[id$=LastMove] {
    width: 100%;
    text-align: center;
    font-size: 10pt;
}

#tableScoreboard {
    height: 75px;
    font-weight: bold;
    font-size: 18pt;
}

#spanPlayer1Name, #spanPlayer2Name {
    cursor: pointer;
}

#player-scores > .row {
    width: 100%;
}

#player-scores {
    margin-top: 20px;
    margin-bottom: 20px;
}
